#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:520px;
  width:100%;
  color: #FFFFFF;
  background-color: #ff9900;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  padding-top: 85px;
}

.name {
  font-size: 35px;
}

#first-name {
  font-weight:bolder;
}



@media only screen and (min-width: 1024px) {
#header {
  height: 420px;
  max-width: 500px;
  margin-top: 220px;
  margin-left: 70px;
  margin-right: 100px;
}
}