nav {
  position:fixed;
  background-color: #4056A1;
  font-size: larger;
  height: 120px;
  display: flex;
  justify-content: space-between;
  width:100%;

}
nav span {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  margin-left:1.5em;
  /* margin-top: 800px; */
}

.nav-right {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5em;

}



#arrow {
  color:red;
  position: absolute;
  animation: move-up-down 1s ease-in-out infinite alternate;

}

#arrow:hover {
  cursor: pointer;
}

@keyframes move-up-down {
  from {
    top: 80px;
  }
  to {
    top: 90px;
  }
}
