section {
  display: flex;
  justify-content: flex-start;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
}

.tweet-bottom button {
  color:white;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}
.tweet-bottom output {
  font-weight: bold;
}

textarea {
  border-style:hidden;
  border-bottom: 5px solid;
  background-color: #f4f1ec;
  width: 100%
}