#tweet-container {
  display:flex;
  flex-direction: column;
}


.tweet-article {
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 20px 0px 20px;
}  /* 上右下左 */


.tweet-header {
  display:flex;
  justify-content: space-between;
}

.tweet-footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-name {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.tweet-avatar {
  width: 50px;
  height: 50px;
  margin-left: 3px;
  margin-right:15px;
}