#tweets-container {
  display:flex;
  flex-direction: column;
}


.tweet-article {
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 20px 0px 20px;
 /*  box-shadow:0 0 20px grey; */
}  /* 上右下左 */

.tweet-article:hover {
  box-shadow: 7px 7px 1px -2px #888;
}
 
.tweet-header {
  display:flex;
  justify-content: space-between;
}

.tweet-footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.avatar-name {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.tweet-avatar {
  width: 50px;
  height: 50px;
  margin-left: 3px;
  margin-right:15px;
}

.icons {
  display:flex;
  justify-content: flex-end;

}

.icon:hover {
  color:orange;

}

.horizontal-line {
  border-bottom: 3px solid #000;
  margin: -11px 0;
}